.permission-cell {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: 0 10px;
    border: 2px solid #adadad;
    width: 150px;
    margin: 10px;
    transition: 0.2s;
}

.permission-cell:hover {
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
}

.permission-name {
    padding-left: 10px;
    width: 120px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
}

.permission-role {
    padding-left: 10px;
    font-size: 12px;
}