.forTextOption{
    background-color: white;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.forTextOption:hover{
    background-color: lightblue;
    transition: 0.3s;
}

.headerForTextOption{
    font-size: 15px;
    background-color: lightgray;
}