.snapshot-page-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.snapshot-page-button {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 10px 8px;
    background-color: white;
    color: #888888;
    border: 2px solid #adadad;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.2s;
}

.snapshot-page-button:hover {
    cursor: pointer;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}


.snapshot-cell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}

.snapshot-cell-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad;
    padding: 10px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.snapshot-cell-icon {
    color: white;
}

.snapshot-info {
    margin-left: 20px;
    font-size: 16px;
    color: black;
}

.snapshot-info-subtext {
    font-size: 14px;
    color: #adadad;
}