.snapshot-page-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.snapshot-page-button {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 10px 8px;
    background-color: white;
    color: #888888;
    border: 2px solid #adadad;
    border-radius: 5px;
    margin-left: 10px;
    transition: 0.2s;
}

.snapshot-page-button:hover {
    cursor: pointer;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
}