/* .onedrive-account {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.onedrive-account span {
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.onedrive-login-link {
    width: 100%;
    padding: 10px 8px;
    text-decoration: none;
    color: black;
    transition: 0.12s;
    border: 1px solid black;
}

.onedrive-login-link:hover {
    cursor: pointer;
    color: white;
    background-color: mediumseagreen;
} */