.recent-modal-container {
    width: 50%;
    min-width: 450px;
    max-width: 550px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 #2a2a2a;
}

.recent-search-option {
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
}

.recent-search-option:nth-child(even) {
    background-color: #dedede;
}

.recent-search-option-label {
    display: flex;
    width: 100%;
}