.header-center-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-search-bar {
    font-size: 16px;
    padding: 5px 5px 5px 40px;
}

.search-button {
    position: absolute;
    left: 0;
    padding-left: 5px;
    transition: 0.1s;
}

.search-button:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.search-filter-button {
    padding: 6px;
    border: 1px solid black;
}

.search-filter-button:hover {
    cursor: pointer;
}

.snapshot-selection-container {
    margin-left: 20px;
    position: relative;
    display: flex;
}

.snapshot-icon {
    margin-right: 5px;
    transition: 0.2s;
}

.search-dropdown {
    margin: auto;
    position: absolute;
    top: 54px;
    display: none;
    background-color: white;
    border-radius: 0 0 5px 5px ;
    border: 1px solid black;
}

.search-dropdown-open {
    display: block;
}

.search-menu-item {
    border-radius: 5px;
    transition: 0.2s;
    padding: 10px;
}

.search-menu-item:hover {
    cursor: pointer;
    background-color: slategray;
    color: white;
}