.analysis-list-container {
    height: 205px;
    overflow-y: auto;
}

.snapshot-diff-list-container {
    height: 474px;
    overflow-y: auto;
}

.analysis-block {
    margin-bottom: 10px;
}

.snapshot-compare-list {
    height: 526px;
    overflow-y: auto;
}

.select-analysis-snapshot-header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
    background-color: cornflowerblue;
}

.select-snapshot-selections-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.analysis-select-snapshot-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 14px;
}

.analysis-option-label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.select-analysis-snapshot-button {
    padding: 8px;
    border: none;
    background-color: white;
    transition: 0.2s;
    font-weight: bold;
    border-radius: 5px;
    margin: auto 0;
    height: 100%;
}

.select-analysis-snapshot-button:hover {
    cursor: pointer;
    color: cornflowerblue;
}

.deviant-slider {
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    width: 200px;
    height: 25px;
}

.slider-track {
    height: 5px;
    background-color: #f8f8f8;
    border-radius: 10px;
    top:7px
}
.slider-track.slider-track-1 {
    background-color: #ff4444;
}

.slider-thumb {
    width: 20px;
    background-color: black;
    border-radius: 50%;
    height: 20px;
    line-height: 20px;
}

.slider-track:hover, .slider-thumb:hover {
    cursor: pointer;
}