.access-req-modal-container {
    min-width: 750px;
}

.modal-split-container {
    display: flex;
    height: 100%;
}

.modal-sidebar {
    height: 557px;
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    border-right: 1px solid black;
}

.modal-sidebar-link {
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    padding: 8px;
    transition: 0.2s;
}

.modal-sidebar-link:hover {
    cursor: pointer;
    background-color: #d9d9d9;
}

.modal-content {
    width: 100%;
    height: 557px;
    overflow-y: auto;
}